exclude:
- ".jekyll-metadata"
- ".gitignore"
- ".travis.yml"
- Gemfile
- Gemfile.lock
- vendor
- README.md
- CONTRIBUTING.md
- LICENSE.md
- ".sass-cache"

# defaults
defaults:
  -
    scope:
      path: ""
      type: agencies
    values:
      layout: default

collections:
  agencies:
    output: true
    permalink: /:path/

# Site title and description
title: "analytics.smgov.net | The City of Santa Monica's web traffic."
description: "Official data on web traffic to City of Santa Monica websites."

# Site's own URL
url: http://analytics.smgov.net

# Default dropdown title, will not appear if there are no sub-pages
dropdown_title: All Participating Websites

# Default data url
data_url: http://analytics.smgov.net/data

# GitHub information
org_name: CityofSantaMonica
repo_name: analytics.smgov.net

# twitter information
twitter: santamonicacity

sass:
  sass_dir: sass
  style: nested
