exclude:
- ".jekyll-metadata"
- ".gitignore"
- ".travis.yml"
- Gemfile
- Gemfile.lock
- vendor
- README.md
- CONTRIBUTING.md
- LICENSE.md
- ".sass-cache"

# Site title and description
title: "analytics.smgov.net"
slug: "The City of Santa Monica's web traffic."
description: "Official data on web traffic to City of Santa Monica websites."

# Site's own URL
#url: http://analytics.smgov.net
url: http://csmanalytics.azurewebsites.net

# Default dropdown title, will not appear if there are no sub-pages
dropdown_title: All Participating Websites

# Default data url
#data_url: http://analytics.smgov.net/data
data_url: http://csmanalytics.azurewebsites.net/data/smgov

# GitHub information
org_name: CityofSantaMonica
repo_name: analytics.smgov.net

# twitter information
twitter: santamonicacity

# site settings
settings:
  multi_agency: false
  analytics: UA-11670373-29

sass:
  sass_dir: sass
  style: nested
